<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Games Comparison</title>
</head>
<body>
    <h1><Raw Data></h1>
    <div id="rawData"></div>
    <h1><Games></h1>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/games')
            .then(response => response.json())
            .then(data => {
                let games = data.games;
                let gamesDiv = document.getElementById('games');
                games.forEach(game => {
                    let gameDiv = document.createElement('div');
                    gameDiv.innerHTML = game.name;
                    gamesDiv.appendChild(gameDiv);
                });
            });
    });


</script>
</html>