<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Games Comparison</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1><Raw Data></h1>
    <div id="rawData"></div>
    <h1><Games></h1>
        <form id='game' method="post">
            <input type="text" name="gameName" placeholder="Game Name">
            <input type="submit" value="Search">
        </form>
</body>
<script>
    // display form data onto webpage below submit button using price from flask
    document.getElementById('game').addEventListener('submit', function(e) {
        e.preventDefault();
        var gameName = document.getElementsByName('gameName')[0].value;
        var xhr = new XMLHttpRequest();
        var url = '/games/' + gameName;
        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                var steam_price = data['price'];
                var gameData = '<p>' + gameName + ' is ' + steam_price + ' on the Steam store</p>';
                document.getElementById('rawData').innerHTML = gameData;
            }
        };
        xhr.send();
    });

</script>
</html>