<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='user.css') }}">
</head>
<body>
    <div class="form-container">
    <h2>Register</h2>
    <form method="post" action="/register">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
    </form>
    </div>
</body>
</html>
